<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <title>OWL</title>
  </head>
  <body>
    <div class="boxs">
      <div class="right">
        <div class="logo"><img th:src="@{/images/logo.png}" /></div>
        <div class="menu">
          <div class="menu-box" onclick="togglehashtagIcon()">
            <img th:src="@{/images/hashtagIcon2.png}" id="hashtagIcon" />
            <span id="hashtagSpan" class="nowMenu">탐색하기</span>
          </div>
          <div class="menu-box" onclick="toggleSettingIcon()">
            <img th:src="@{/images/settingIcon.png}" id="settingIcon" />
            <span id="settingSpan">설정</span>
          </div>
        </div>
      </div>
      <div class="center">
        <div class="search">
          <div class="search-box">
            <img th:src="@{/images/searchIcon.png}" />
            <input type="text" />
          </div>
        </div>
        <div class="boardlist">board</div>
      </div>
      <div class="left">
        <div class="user">user</div>
      </div>
    </div>
    <script th:src="@{/js/home.js}"></script>
  </body>
</html>
